# =============================================================================
# moab_tool.cfg — Adaptive Computing Moab DV job scheduler tool configuration
# =============================================================================
[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[params]
moab_exec = /p/hdk/pu_tu/prd/moab/Toolversion(moab)/bin/moab
