# =============================================================================
# bypass_pnr_reg_fp.design.cfg — DUT identity and overrides
# =============================================================================

[global_config]
TOP_IP_NAME     = bypass_pnr_reg_fp
TOP_MODULE_NAME = bypass_pnr_reg_fp
IP_TYPE         = asic
