[delete]
$WORKAREA/output/$DUT/xcelium/$PASS/xcelium_compile/log/consolidate.compile.log

[zip]
#Corrected path, but altering elab.log before it is closed is a problem
#$WORKAREA/output/$DUT/xcelium/$PASS/xcelium_elab/log/*
