# =============================================================================
# cf_utils_tool.cfg — PSG Coverage Framework (CF) utilities
# =============================================================================
# Version base : dv_tool_version.cfg (cf_utils = 2024.09.fe.cf_utils.0.0.17)
# Install base : /p/cth/cad/cf_utils (PSG-owned utility scripts)
# No EDA license required.
# vmsrunner    : script to dispatch VMS (Verification Management System) jobs.
# vmsplanner   : script to plan VMS test suites.
# =============================================================================

[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
CF_UTILS = /p/cth/cad/cf_utils/Toolversion(cf_utils)

[params]
vmsrunner_exec  = Envs(CF_UTILS)/utils/scripts/vmsrunner
vmsplanner_exec = Envs(CF_UTILS)/utils/scripts/vmsplanner
