# =============================================================================
# riviera_flow.cfg — Riviera-PRO RTL compile+elab baseline flow configuration
# =============================================================================
@include ../../global_config/proj_base/sim_params/riviera_params.cfg
@include ../../../cfg/$DUT.design.cfg
@include ../../global_config/proj_base/ip_type_params/ip_type.global_config(IP_TYPE).cfg

[riviera]
PASS                  = gk
POST_PROCESSING_FILE  = $WORKAREA/baseline_tools/flows/riviera/run_audit
ENABLE_RTL_DEPSLIST   = true
CREATE_OUTDIR_LINK    = false
MODEL_SIZE_REDUCTION  = $WORKAREA/baseline_tools/flows/riviera/cleanup.cfg
VERILOG_ANALYZE_OPTS  = Params(ALTR_RIVIERA_ANALYZE_SETTINGS) Params(ALTR_MACROS_SIMPWR_RTL)
ELAB_OPTS_SWITCH      = Params(ALTR_RIVIERA_ELAB_SETTINGS)
RUN_NETBATCH          = true
