# =============================================================================
# cc_tool.cfg — GCC C compiler wrapper for DV/emulation flows
# =============================================================================
# Version base : dv_tool_version.cfg (gcc = 12.2.0)
# No EDA license required — system GCC accessed via PATH.
# =============================================================================

[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[params]
cc_exec = gcc
