# =============================================================================
# puni_tool.cfg — PSG PUNI (portable unit network infrastructure) tool config
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
PUNI_HOME_PATH   = /p/hdk/rtl/proj_tools/puni/master
PUNI_HOME        = Envs(PUNI_HOME_PATH)/Toolversion(PUNI_VERSION)
PUNI_UTILS_HOME  = /p/hdk/pu_tu/prd/puni_utils
PUNI_UTILS_ROOT  = Envs(PUNI_UTILS_HOME)/Toolversion(PUNI_UTILS_VERSION)
