# =============================================================================
# psg_lift_tool.cfg — PSG Lift shell wrapper tool configuration
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[params]
psg_lift_exec = /p/psg/flows/common/psg_lift/Toolversion(PSG_LIFT_VERSION)/bin/lift_shell
