# =============================================================================
# cpp_tool.cfg — GCC C++ compiler wrapper for DV/emulation flows
# =============================================================================
# Version base : dv_tool_version.cfg (gcc = 12.2.0)
# No EDA license required — system g++ accessed via PATH.
# NOTE: user is uncertain whether this tool is needed in ACE (originally
#       existed to satisfy Cheetah cth_query calls). See migration_status.md.
# =============================================================================

[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[params]
cpp_exec = g++
