# =============================================================================
# cfgip_tool.cfg — PSG cfg-IP (IP configuration generator) tool
# =============================================================================
# Standalone PSG Python tool; no EDA license required.
# Does not inherit rtl_tools or dv_tools version base.
# =============================================================================

[toolversion]
CFGIP_VERSION = 25.12.09

[params]
cfgip_path = /p/psg/cthpsg/rtl_proj_tools/altera-cfg-ip/Toolversion(CFGIP_VERSION)
cfgip_exec = Params(cfgip_path)/cfgip.py
