# =============================================================================
# fishtail_flow.cfg — Fishtail TCM timing constraint verification flow config
# =============================================================================
@include ../../../cfg/$DUT.design.cfg

[fishtail]
CREATE_OUTDIR_LINK   = false
PASS                 = gk
FT_CUSTOM_TCL_FILE   = $WORKAREA/baseline_tools/flows/fishtail/inputs/ft_custom.tcl
FT_ACTION_TYPE       = rtl_verification
FT_EQVALENCE_CHECK   = False
FT_REPORT_TYPE       = text
GLITCH_VERIF         = False
VERDI_DEBUG          = False
POST_PROCESSING_FILE = $WORKAREA/baseline_tools/flows/fishtail/scripts/run_audit
VERILOG_ANALYZE_OPTS = "TSMC_MEMORY_BEH"
READ_HIP_RTL         = false
