# =============================================================================
# lec_tool.cfg — Cadence Conformal LEC (RTL equivalence check) tool config
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
LEC_HOME_PATH  = /p/hdk/cad/conformal
CONFORMAL_LEC  = Envs(LEC_HOME_PATH)/Toolversion(LEC_VERSION)

[arc]
cadence_conformal-lic/license
