# Altera macros for softip ip type

# intel design macros: https://wiki.ith.intel.com/display/cheetah/Design+Instrumentation+macro+consumption+in+Cheetah2+FE+flow
# INTEL_SVA_OFF    - sva assertions: HW sva, SIMONLY: non-synth sva , INST_ON: instrument sva 
# INTEL_DC         - synth only
# INTEL_INST_ON    - instrument only, EMULATION emulator instrument only
# INTEL_SIMONLY    - simulation only
# INTEL_NO_PWR_PINS- without power pins
# INTEL_EMULATION  - emulation only
# INTEL_FPGA       - fpga only
# INTEL_SCAM       - scam tool

# altera design macros
# INTCNOPWR - masks off power signals

[params]
# pesg: vcs, questa, xcellium  (power from rtl)
# altera: vcssw, questasw, xcelliumsw  (sw view, power from rtl)
ALTR_MACROS_SIM_RTL = +define+INTEL_INST_ON

# vcssim, questasim, xcelliumsim
ALTR_MACROS_SIM_DV = +define+INTEL_INST_ON +define+INTEL_SIMONLY +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR

# for DV + power pins vcsdvpp
ALTR_MACROS_SIM_DV_PP = +define+INTEL_INST_ON +define+INTEL_SIMONLY

# pesg: vcsmpp, questampp, xcelliummpp (power aware: upf file)
# altera: vcs, questa, xcellium (power aware: upf file)
ALTR_MACROS_SIMPWR_RTL = +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR

# pprt, vcssimmpp, questasimmpp, xcelliumsimmpp (power aware: upf file)
ALTR_MACROS_SIMPWR_DV = +define+INTEL_INST_ON +define+INTEL_SIMONLY +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR

# quartus
ALTR_MACROS_QUARTUS = +define+INTEL_SVA_OFF +define+SVA_OFF +define+INTEL_INST_ON


# fishtail
ALTR_MACROS_SYNTHESIS = +define+INTEL_DC +define+INTEL_SVA_OFF +define+SVA_OFF +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR

# h2b
ALTR_MACROS_H2B = +define+INTEL_SVA_OFF +define+SVA_OFF +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR

# lint, cdc 
ALTR_MACROS_STATIC = +define+INTEL_SVA_OFF+SVA_OFF+INTEL_NO_PWR_PINS+INTCNOPWR+DMZNOPWR+FUNCTIONAL+functional

# power aware: cdc, vclp, 
ALTR_MACROS_STATIC_PWR = +define+INTEL_SVA_OFF +define+SVA_OFF +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR
ALTR_VC_LP_STATIC = +define+INTEL_SVA_OFF+SVA_OFF+INTEL_NO_PWR_PINS+INTCNOPWR+DMZNOPWR
ALTR_VC_LP_PA_STATIC = +define+INTEL_SVA_OFF+SVA_OFF
ALTR_MACROS_FORMAL = +define+INTEL_INST_ON

# effm_veloce
ALTR_MACROS_EMULATION = +define+INTEL_INST_ON +define+INTCNOPWR +define+INTC_FEV_EN +define+INTC_FUNCTIONAL +define+INTC_MEM_EMULATION +define+INTC_MEM_SVA_OFF +define+INTEL_SVA_OFF +define+SVA_OFF +define+INTC_functional +define+INTEL_EMULATION +define+INTEL_NO_PWR_PINS +define+SYNTHESIS +define+EMULATION +define+DMZNOPWR

ALTR_MACROS_FPGA = +define+INTEL_FPGA +define+INTEL_INST_ON +define+INTEL_SVA_OFF +define+SVA_OFF

# design flags
# altera: questasw, xceliumsw, vcssw, rivierasw
ALTR_PDIM_SW = +define+PSG_PDIM_FE +define+PSG_PDIM_CONFIG_MODEL +define+PSG_PDIM_NON_CONFIG_MODEL +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR +define+INTEL_SIMONLY +define+SVA_OFF +define+INTEL_SVA_OFF +define+QUARTUS

ALTR_PDIM_SW_LATE = +define+PSG_PDIM_FE +define+PSG_PDIM_NON_CONFIG_MODEL +define+INTEL_NO_PWR_PINS +define+INTCNOPWR +define+DMZNOPWR +define+INTEL_SIMONLY +define+SVA_OFF +define+INTEL_SVA_OFF +define+QUARTUS

# altera: vcsdv
ALTR_PDIM_DV = +define+PSG_PDIM_INCLUDE_UVM_PKG +define+PSG_PDIM_FE +define+PSG_PDIM_DV +define+PSG_PDIM_CONFIG_MODEL +define+PSG_PDIM_NON_CONFIG_MODEL

ALTR_PDIM_DV_LATE = +define+PSG_PDIM_INCLUDE_UVM_PKG +define+PSG_PDIM_FE +define+PSG_PDIM_DV

