# =============================================================================
# jasper_tool.cfg — Cadence JasperGold (RTL formal verification) tool config
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
JG_HOME_PATH = /p/hdk/rtl/cad/x86-64_linux30/jasper/jaspergold
JG_HOME      = Envs(JG_HOME_PATH)/Toolversion(JG_VERSION)

[arc]
jasper_gold-lic/license
