# =============================================================================
# veloce_tool.cfg — Mentor Veloce emulation platform tool configuration
# =============================================================================
# Version base : dv_tool_version.cfg -> tool_version.cfg
# VELOCE_HOME  : HDK site-local NFS path (not mirrored by PSG)
# SYSNAME      : platform-dependent token resolved at runtime by the shell
# License      : mentor/veloce (ARC auto-appends queue from [arc] block)
# =============================================================================

[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
VELOCE_HOME   = /nfs/site/eda/group/${SYSNAME}/emu/mentor/veloce/Toolversion(VELOCE_VERSION)
TBX_HOME      = Envs(VELOCE_HOME)/tbx
GCC_HOME      = /usr/intel/pkgs/gcc/Toolversion(emu_gcc)
TESTBENCH_GCC = /usr/intel/pkgs/gcc/Toolversion(emu_tb_gcc)
JEM           = /p/hdk/rtl/cad/em64t_SLES12/dt/jem/Toolversion(jem)
SIMICS_HOME   = /p/hdk/cad/windriver/simics/Toolversion(simics)
DVB_ROOT      = ${WORKAREA}/dvb/Toolversion(dvb)/dvb

[arc]
# NOT IN arc_license.txt — verify: mentor/veloce
