# =============================================================================
# upf_utils_flow.cfg — UPF utilities (low-power RTL) baseline flow config
# =============================================================================
@include ../../../cfg/$DUT.design.cfg

[upf_utils]
CREATE_OUTDIR_LINK  = false
PASS                = gk
UPF                 = $WORKAREA/src/upf/$DUT/${DUT}.upf
COPY_CODEGEN_FILES  = True
RTL_FILELIST        =
UPF_CONFIG_LIST     =
LEAF_IP_MODULE      =
MERGE_INPUT_DIR     =
