# =============================================================================
# utdb_tool.cfg — Intel UTDB (Universal Test Database) DV tool configuration
# =============================================================================
[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
UTDB_HOME = /p/hdk/rtl/cad/x86-64_linux26/dt/utdb/Toolversion(utdb)
UTDB_VER  = Toolversion(utdb)

[params]
utdb_exec = Envs(UTDB_HOME)/bin/utdb
