# =============================================================================
# ctf_tool.cfg — PSG Common Task Framework (CTF) tool configuration
# =============================================================================
# Version base : tool_version.cfg (RTL base; ctf fct_infra version is inline)
# CTF_HOME     : PSG flows directory; `stable` symlink tracks the pinned release.
# fct_infra    : CTF infrastructure version; 11.11 is the ioss3 baseline.
# No EDA license required.
# =============================================================================

[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[toolversion]
fct_infra = 11.11

[envs]
CTF_HOME = /p/psg/flows/hw/common/fct_infra/ctf
