# =============================================================================
# ipqc_tool.cfg — Intel IP Quality Check (Zircon QA) tool configuration
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
IPQC_HOME_PATH       = /p/hdk/rtl/proj_tools/zircon/master/Toolversion(IPQC_VERSION)/bin/zirconQA
IPQC_RULES_HOME_PATH = /p/cth/pu_tu/prd/ip_quality_rules/Toolversion(IPQC_RULES_VERSION)
