# =============================================================================
# wrap_gen_tool.cfg — PSG RTL wrapper-generator tool configuration
# =============================================================================
# Standalone PSG tool; does not inherit rtl_tools or dv_tools versions.
# wrap_gen.py is invoked directly — no license required.
# Project-level proj_config can override WRAP_GEN_VERSION if a newer release
# is needed; 1.1.6 is the baseline minimum.
# =============================================================================

[toolversion]
WRAP_GEN_VERSION = 1.1.6

[params]
wrap_gen_path = /p/psg/cthpsg/rtl_proj_tools/wrap_gen/Toolversion(WRAP_GEN_VERSION)
wrap_gen_exec = Params(wrap_gen_path)/wrap_gen.py
