# =============================================================================
# crb_tool.cfg — DVB CRB (Chip Register Bus) tool configuration
# =============================================================================
# Version base : dv_tool_version.cfg (dvb = 2024.12.fe.DVB.1.4)
# No EDA license required.
# flatten_val_library_list controls whether CRB flattens the validation library
# list during CRB generation; 0 = hierarchical (default per Cheetah baseline).
# =============================================================================

[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[params]
flatten_val_library_list = 0
