# =============================================================================
# sgdft_flow.cfg — SpyGlass DFT analysis baseline flow configuration
# =============================================================================
@include ../../global_config/proj_base/ip_type_params/ip_type.global_config(IP_TYPE).cfg
@include ../../../cfg/$DUT.design.cfg

[sgdft]
PASS                 = gk
DFT_GOALS            = SIP_RTL_1.0
POST_PROCESSING_FILE = $WORKAREA/baseline_tools/flows/sgdft/run_audit
CREATE_OUTDIR_LINK   = false
DFT_DEFAULT_CON      = $WORKAREA/static/sgdft/inputs/default_ip_constraints.sgdc
