# =============================================================================
# fepackager_tool.cfg — PSG FE Packager (IP delivery packaging) tool config
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
FEPACKAGER_HOME_PATH = /p/hdk/rtl/proj_tools/fepackager/master
FEPACKAGER_HOME      = Envs(FEPACKAGER_HOME_PATH)/Toolversion(FEPACKAGER_VERSION)
