# =============================================================================
# h2b_flow.cfg — H2B (hard-to-boundary) LibAnalyzer baseline flow config
# =============================================================================
@include ../../../cfg/$DUT.design.cfg

[h2b]
CREATE_OUTDIR_LINK  = false
PASS                = gk
FILE_TYPE           = syn
HIP_TYPE            = ipx
NO_MW               = true
NO_NDM              = true
NO_DB               = true
FILE_PATTERN_CSV    = /p/hdk/cad/eou_flow_project_psg/2024.03.SP1_ams_2024.42.REL.km/common/hardip_file_patterns.csv
OC_PATTERN_CSV      = /p/hdk/cad/eou_flow_project_psg/2024.03.SP1_ams_2024.42.REL.km/common/hardip_oc_patterns.csv
