# =============================================================================
# pprtl_flow.cfg — PrimePower RTL power analysis baseline flow configuration
# =============================================================================
@include ../../global_config/proj_base/ip_type_params/ip_type.global_config(IP_TYPE).cfg
@include ../../../cfg/$DUT.design.cfg

[params]
ALTR_PPRTL_ANALYZE_SETTINGS     = -format sverilog -verbose
ALTR_PPRTL_VCS_ANALYZE_SETTINGS = -timescale=1ns/1ps

[pprtl]
CREATE_OUTDIR_LINK   = false
PASS                 = audit
POST_PROCESSING_FILE = $WORKAREA/baseline_tools/flows/pprtl/run_audit
LIB_LIST             = inputs/liberty_file.list
