# =============================================================================
# sgcdc_flow.cfg — SpyGlass CDC analysis baseline flow configuration
# =============================================================================
@include ../../../cfg/$DUT.design.cfg

[sgcdc]
POST_PROCESSING_FILE  = $WORKAREA/baseline_tools/flows/sgcdc/run_audit
CDC_GOALS             = cdc_setup_check cdc_verify_struct cdc_verify_funct rdc_verify_struct
CREATE_OUTDIR_LINK    = false
PASS                  = gk
CDC_STD_BMOD          = $WORKAREA/baseline_tools/flows/vc_cdc/stdcell_filelist/alynx/static_stdcells.f
CDC_LINT_ENABLE       = false
