# =============================================================================
# palladium_tool.cfg — Cadence Palladium DV emulation platform tool config
# =============================================================================
[params]
activity = dv

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
CDN_HOME_PATH      = /p/hdk/rtl/cad/x86-64_linux26/cadence
XLM_HOME           = Envs(CDN_HOME_PATH)/xcelium/Toolversion(xlm_version)
XLM                = Envs(XLM_HOME)/tools.lnx86
XECOMPILE          = Envs(CDN_HOME_PATH)/wxe/Toolversion(wxe_version)
HDLICE_HOME        = Envs(CDN_HOME_PATH)/ixcom/Toolversion(hdlice_version)
HDLICE             = Envs(HDLICE_HOME)/tools.lnx86
IXCOM_HOME         = Envs(CDN_HOME_PATH)/ixcom/Toolversion(ixcom_version)
IXCOM              = Envs(IXCOM_HOME)/tools.lnx86
WXE_HOME           = Envs(CDN_HOME_PATH)/wxe/Toolversion(wxe_version)
WXE                = Envs(WXE_HOME)/tools.lnx86
DW_HOME            = /p/cth/rtl/cad/x86-64_linux26/cadence/paldw/Toolversion(pal_dw_version)/vlog_ius
PAL_SCRIPT_HOME    = /p/hdk/rtl/cad/x86-64_linux26/cadence/palscripts/Toolversion(pal_script_version)
GCC_HOME           = /usr/intel/pkgs/gcc/Toolversion(emu_gcc)
TESTBENCH_GCC      = /usr/intel/pkgs/gcc/Toolversion(emu_tb_gcc)
JEM                = /p/hdk/rtl/cad/em64t_SLES12/dt/jem/Toolversion(jem)
SIMICS_HOME        = /p/hdk/cad/windriver/simics/Toolversion(simics)
DVB_ROOT           = /p/cth/cad/dvb/Toolversion(dvb)/dvb

[arc]
# NOT IN arc_license.txt — verify: cadence/palladium
