# =============================================================================
# repoqc_tool.cfg — PSG repoqc (repository quality check) tool configuration
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[params]
repoqc_path      = /p/psg/cthpsg/rtl_proj_tools/repoqc/Toolversion(REPOQC_VERSION)
repoqc_exec      = Params(repoqc_path)/repoqc
repoqc_test_exec = Params(repoqc_path)/repoqc_test
