# =============================================================================
# socbuilder_tool.cfg — Intel SoC Builder (register model client) tool config
# =============================================================================
[params]
activity = static

@include ../../global_config/params(activity)_tool_version.cfg

[envs]
SOCBUILDER_HOME_PATH = /p/hdk/rtl/proj_tools/socbuilder_client
SOCBUILDER_PATH      = Envs(SOCBUILDER_HOME_PATH)/Toolversion(SOCBUILDER_VERSION)
SOCBUILDER_BIN       = Envs(SOCBUILDER_PATH)/bin/socb
SOCBUILDER_GUI       = Envs(SOCBUILDER_PATH)/bin/socb-gui
